{% extends "AppBackendBundle::layout_sign.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="animate form login_form">
        <section class="login_content">

            <a href="/">
                <h1>
                    <img class="img-circle" src="/assets/images/favicon.png" alt="" style="width: 50px;height: 50px;margin-right: 10px">
                    GI<span>SOFT</span>
                </h1>
            </a>
            <!--  start login-inner -->
            {% if error %}
                <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div id="login-inner">
                {% include 'AppUserBundle:Security:_form.html.twig' with {'error': error, 'last_username':last_username} %}
            </div>
        </section>
    </div>

    {% include 'AppUserBundle:Security:_forgotbox.html.twig'  %}
        
{% endblock content %}
    
