<div id="logo">
    <a class="logo round" title="{{showSettingCompanyName()}}" href="{{ path('_homepage') }}">                            
        <img alt="{{showSettingCompanyName()}}" src="/frontend/images/logo.png"/>
    </a> 
</div> 