{% extends "AppBackendBundle::layout.html.twig" %}

{% block title "Create - Page" %}

{% block content_header '' %}

{% block content %}
  <div id="page-heading"><h1>Utwórz Produkt </h1></div>

<div class="content-table-inner more-round">		
    <!--  start table-content  -->
    <div class="table-content">           
        <h2></h2>  
        <legend>Formularz do dodawania statycznej strony</legend>
        {% include 'AppProductBundle:Product:_form.html.twig' with {'form': form} %}	         
    </div>   
    <!--  end content-table-inner ............................................END  -->
    <div class="clear"></div>
</div>	

{% endblock %}