<p></p>
<p></p>
{% if mail.name %}<p>Imie Nazwisko  : {{mail.name}}</p>{% endif %}
{% if mail.email %}<p>Email   : {{mail.email}}</p>{% endif %}
{% if mail.message %}<p>Treść   : {{mail.message}}</p>{% endif %}